
.category {
  background-color: pink;
  padding: 10px;
  min-height: 75%;
}

.droparea {
  background-color: yellow;
  min-height: 75%;
}

.addFormContainer {
  width: 400px;
  margin-left: 30px;
}

.addFormContainer form {
  background-color: #ccc;
  padding: 50px;
}

.addFormContainer input {
  display: block;
}

.actionContainer {
  margin-top: 10px;
}

.actionContainer form {
  margin: 5px 0;
}

.actionContainer form.next input{
  font-weight: bold;
}

.navbar em {
  font-size: 0.9em;
  display: block;
  margin-top: 10px;
}