<div>

  <script id="angular-template" type="text/x-handlebars-template">
    <div class="container-fluid">
      <div id="settingsContainer" class="row-fluid"></div>
    </div>

    <div ng-app="myModule" id="ng-app" ng-controller="MyController">
                      
        <!-- {{categories | json}} -->

        <div class="span3" ng-repeat="category in categories | orderBy:'order'">
            <h2 ng-bind="category.name"></h2>
            <ul class="unstyled">
              <li class="well" ng-repeat="bug in category.bugs">
                <strong ng-bind="bug.title"></strong>
                <div ng-bind="bug.description"></div>
                <div ng-repeat="action in bug.actions">
                  <button ng-click="move(action)" data-method="{{action.method}}" data-id="{{action.id}}" data-action="{{action.action}}" class="btn">{{action.name}}</button>
                </div>
              </li>
            </ul>            
        </div>   

    </div>
  </script>

</div>