<div>

  <script id="angular-template" type="text/x-handlebars-template">
    <div class="container-fluid">
      <div id="settingsContainer" class="row-fluid"></div>
    </div>

    <div ng-app="myModule" id="ng-app" ng-controller="MyController">
                      
        <!-- {{categories | json}} -->

        <div class="span3" ng-repeat="category in categories | orderBy:'order'">
            <h3 ng-bind="category.name"></h3>
            <ul>
              <li ng-repeat="bug in category.bugs">
                <div>Title: <span ng-bind="bug.title"></span></div>
                <div>Description: <span ng-bind="bug.description"></span></div>
              </li>
            </ul>
            
        </div>      

    </div>
  </script>

</div>