.category {
  background-color: pink;
  padding: 10px;
  min-height: 75%;
}

.droparea {
  background-color: yellow;
  min-height: 100%;
}

.addFormContainer {
  width: 400px;
  margin-left: 30px;
}

.addFormContainer form {
  background-color: #ccc;
  padding: 50px;
}

.addFormContainer input {
  display: block;
}

/* Mobile */
/*
form.new input {
  display: block;
  width: 100%;
}

div#links {
  display: block;
  width: 100%;
}

div#links a {
  display: block;
  width: 90%;
  background-color: #ccc;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

div#bugs {
  color: #aaa;
}

div#bugs span {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

div#bugs ul {
  margin-left: 0;
  list-style: none;
}*/