@import url("/css/bootstrap.min.css");
@import url("/css/bootstrap-responsive.min.css");

.category {
  background-color: pink;
  padding: 10px;
  min-height: 75%;
}

.droparea {
  background-color: yellow;
  min-height: 75%;
}

.addFormContainer {
  width: 400px;
  margin-left: 30px;
}

.addFormContainer form {
  background-color: #ccc;
  padding: 50px;
}

.addFormContainer input {
  display: block;
}

button.next {
  font-weight: bold;
}